#container{
    display:flex;
    height:800px;
    width: 800px;
    flex-wrap: wrap;
    margin: auto;
}

.sqr{
    background-color:white;
    height:49.5px;
    width:49.5px;
    border-width: 0.25px;
    border-style: solid;
    border-color: black;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

.sqrActive{
    background-color:black;
}